@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

@color-bg: #F1EADC;
@color-text-primary: #F2553D;
@color-text-secondary: #1493A5;

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: @color-text-primary;
	background-color: @color-bg;
}

p {
	margin: 0;
	color: @color-text-secondary;
	user-select: none;
	cursor: default;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#ip-address {
	font-size: 25px;
	font-size: 4vw;
}