html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
   overflow:hidden!important;
  
font-family: Roboto;
    text-rendering: optimizeLegibility;
 /* 2 */
    -webkit-font-smoothing: antialiased;
 /* 3 */
    -moz-osx-font-smoothing: grayscale;
 /* 4 */
   font-size: 12px;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.container {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
.container .left-side,
.container .right-side {
  flex: 1 1 0;
     border-left-style: solid;
    border-color: #2196F3;

}
.left-side {
  overflow: hidden;
  position: relative;
}
.left-side .left-side-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  opacity: 0.7;

  /* Aquamarine */
  /* For browsers that don't support gradients */
 
}
.left-side .left-side-bg .company-name {
  margin: 30px;
  font-size: 28px;
  font-family: Helvetica, sans-serif;
  color: #000;
  opacity: 1.0;
}
.left-side .left-side-img {
  width: inherit;
  height: 100%;
  position: relative;
  z-index: 1;
}
.right-side {
  position: relative;
  z-index: 3;
  /* Blue Whale */
  /* For browsers that don't support gradients */
  background: white;
  /* For Safari 5.1 to 6.0 */
 
}
.right-side .btn-header {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #FAFAFA;
  border-style: none;
  border-bottom: 1px solid #47C1B9;
  background-color: transparent;
  padding: 10px 0px;
  border-radius: 0px;
}
.right-side .btn-header:active,
.right-side .btn-header:focus,
.right-side .btn-header:hover,
.right-side .btn-header.active {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #47C1B9;
  background-color: transparent;
  outline: none;
  color: #2196F3;
}
.sign-in-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 15%;
  background: transparent;
  color: #FFF;
}
.sign-in-container .sign-in {
  width: 50%;
  float: left;
}
.sign-in-container .sign-up {
  width: 50%;
  overflow: hidden;
}
.sign-in-container a {
  color: #FFF;
  text-decoration: none;
}
.sign-in-container a:active,
.sign-in-container a:hover {
 
  border-bottom: 6px solid #03A9F4;
    padding-bottom: 5px;
}
.sign-in-container .sign-up-information-container {
  height: 75%;
  width: 100%;
  margin-top: 80px;
}
.sign-in-container .sign-up-information-container .prompt-field {
  font-size: 16px;
  margin-top: 38px;
  margin-bottom: 25px;
}
.sign-in-container .sign-up-information-container input[type="password"] {
  -webkit-text-security: disc;
}
.sign-in-container .sign-up-information-container .input-field {
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #A09F9F;
  color: #A09F9F;
}
.sign-in-container .sign-up-information-container .input-field:active,
.sign-in-container .sign-up-information-container .input-field:focus {
  border: none;
  border-bottom: 1px solid #A09F9F;
  outline-color: transparent;
}
.sign-in-container .sign-up-information-container .terms-container {
  margin-top: 38px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}
.sign-in-container .sign-up-information-container .terms-prompt {
  margin-left: 5px;
}
.sign-in-container .sign-up-information-container .btn-signup {
 
  

  background: #03A9F4;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 0 !important;
    line-height: 16px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    max-height: 36px;
    height: 36px;
    letter-spacing: 0.5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color,-webkit-box-shadow;
    transition-property: background-color,box-shadow;
    border: 0;

}

.sign-in-container .sign-up-information-container .btn-signup:hover {
    background: #0288D1;
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}


.sign-in-container .sign-up-information-container .btn-signup .fa {
  font-size: 12px;
}
.sign-in-container .sign-up-information-container .btn-signup .fa:before {
  padding-left: 10%;
}
.login-font {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #2196F3;


}


/*nuevole*/

.fullwidth,
body#bp-default #wp-admin-bar .padder {
    width: 100% !important;
    max-width: 10000px !important;
    min-width: 960px;
    margin: 0 auto;
    clear: both;
    float: left;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    color: #03A9F4;
}

.form-group {
    height: 55px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-top: -10px;
}

.control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translate3d(0, 22px, 0) scale(1);
    -moz-transform: translate3d(0, 22px, 0) scale(1);
    transform: translate3d(0, 22px, 0) scale(1);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: 240ms;
    -moz-transition: 240ms;
    transition: 240ms;
}

.form-group.focused .control-label {
    opacity: 1;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    color: #03A9F4 !important;
}

.form-control {
    align-self: flex-end;
}

.form-control::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: 240ms;
    -moz-transition: 240ms;
    transition: 240ms;
}

.form-control:focus::-webkit-input-placeholder {
    -webkit-transition: none
    -moz-transition: none;
    transition: none;
}

.form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}

#textbox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    /*background-color:white!important;*/
}

.toplam {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
}

.left {
    width: 50%;
    height: 100%;
    background: #2C3034;
    left: 0;
    position: absolute;
}

.right {
    width: 50%;
    height: 100%;
    background: #F9F9F9;
    right: 0;
    position: absolute;
}

#ic {
    width: 350px;
    margin: 0 auto;
    top: 45%;
    /*margin-top: -162px;*/
    /*position: absolute!important;*/
    left: 50%;
    /*margin-left: -125px;*/
}

.left #ic {
    margin-top: -232px;
}

#ic p {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #757575;
    margin-bottom: 30px;
}

form#girisyap input {
    border-bottom: 1px solid #cdcdcd;
    color: #959595;
    font-size: 14px;
    width: 100%;
    resize: none;
    max-height: 20px;
    outline: 0;
    border-left: 0;
    border-right: 0;
    padding: 8px 0;
    margin-top: 20px !important;
    background: none;
    border-top: 0;
    overflow: hidden;
    transition: border .2s;
    -webkit-transition: border .2s;
}

#girisyap .form-group {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

#girisyap h2 {
    font-size: 28px;
    font-weight: 400;
    color: #0BAFBF;
    line-height: 35px;
}

#girisyap .soninpt {
    margin-bottom: 30px;
}

.left form#girisyap input {
    border-bottom: 1px solid #45494C;
}

.left .control-label {
    color: #959595;
}

.left .yarim {
    width: 46% !important;
    float: left;
    margin-right: 8%;
}

.left .sn {
    margin-right: 0;
}

form#girisyap .girisbtn {
    width: auto;
    float: right;
    background: #03A9F4;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 0 !important;
    line-height: 16px;
    font-family: Roboto;
    text-transform: uppercase;
    max-height: 36px;
    height: 36px;
    letter-spacing: 0.5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color,-webkit-box-shadow;
    transition-property: background-color,box-shadow;
    border: 0;
}

form#girisyap .girisbtn:hover {
    background: #0288D1;
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

#moveleft, #moveright {
    width: auto;
    float: right;
    background: none;
    padding: 10px 16px;
    font-family: Roboto;
    font-size: 14px;
    color: #03A9F4;
    font-weight: 600;
    margin: 0 10px !important;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    max-height: 36px;
    height: 36px;
    letter-spacing: 0.5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    border: 0;
    outline: 0;
}

#moveleft:hover {
    background: #eee;
}

#moveright:hover {
    background: #363A3D;
}

#fback {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9999;
}


