﻿
/*
    CUSTOM TELERIK
*/
.rwLoading { /*radwindow loading dissapear*/
    background-image: none !important;
}

.RadWindow .rwTitleRow, .RadWindow .rwTitleRow * {
    display: block;
}

.RadWindow .rwCorner {
    width: 0px;
    display: none;
}

.RadWindow.rwMaximizedWindow .rwTopResize, .RadWindow.rwMaximizedWindow .rwCorner, .RadWindow.rwMaximizedWindow .rwFooterCenter, .RadWindow.rwMaximizedWindow .rwTitlebar {
    display: none;
}


.RadWindow_Bootstrap {
    border: none;
}
.RadWindow .rwTitleRow, .RadWindow .rwTitleRow * {
    background-color: #FFFFFF;
}
.RadWindow_Bootstrap .rwTable .rwControlButtons li a {
    cursor:pointer;
}
.RadWindow_Bootstrap .rwTable .rwControlButtons li a:hover {
    background-color: #EEEEEE;
    border-color: #FFFFFF;
    border-radius: 0px;
}
/*
.RadWindow_Bootstrap.customized .rwTable .rwTitlebarControls {
    display: block;
    height: 60px;
    background-color: #FFFFFF;
    margin-top: 0px;
    height:45px;
 }
.RadWindow_Bootstrap .rwTable .rwTitlebarControls em {
    font-size: 15px;
    color: #555555;
}
.RadWindow .rwTopResize {
    background-color:#FFFFFF;
}
.RadWindow_Bootstrap.customized a.rwCloseButton, .RadWindow_Bootstrap.customized a.rwCloseButton:hover {
    background-position: -104px -1900px;
}

.RadWindow_Bootstrap .rwTable .rwControlButtons li.customized a {
   

    float: left;
    padding: 0px 1px 0px 0px;
    margin-top: -9px;
    margin-left: -3px;
    height: 49px;
    color: #FFF;
    background-color: #FFFFFF;
    border: none;
    width: 42px;
    cursor:pointer;    
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

.RadWindow_Bootstrap .rwTable .rwControlButtons li.customized a:hover {    
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    background-color:#EEEEEE;
}
.RadWindow_Bootstrap .rwTable .rwControlButtons li.customized a span {
    color:#CCCCCC;
}*/
.RadWindow_Bootstrap.customized {
    border: none;
    /*background-color: #FFF;*/
}

.rwControlButtons.customized{
    height:40px;
    width:50px;
}
    
.RadWindow_Bootstrap.customized .rwTable .rwTitlebarControls em {    
    padding: 8px 0px 0px 1px;
    font-weight:400;
}

.TelerikModalOverlay.customized{
    background-color:#000;
}

.RadWindow .rwFooterCenter {
    display: none;
}


