﻿html, body {
  font-family: Arial;
  margin:0px;padding:0px;
}
form{
  margin:0px;padding:0px;
}
html,body,form{
    height:100%;
}
body{
    background-color:#FFFFFF;
}
.actions-panel {
    width: 100%;
    padding: 15px;
    padding-right: 20px;
    position: fixed;
    bottom: 0px;
    text-align: right;
    border-top: solid 3px #565f72;
    background: #FFFFFF;
}

.content{
    width:100%;
    height:70%; 
    height:calc(100% - 65px);
    overflow:auto;
    background:#FFFFFF;
}