html, body {
  font-family: Arial;
  margin:0px;padding:0px;
}
form{
  margin:0px;padding:0px;
}
body{
    background-color:#FFFFFF;
}
.actions-panel{
    width:100%;
    padding:10px;
    position:fixed;
    bottom:15px;
    text-align:right;
}