﻿html {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
}

body {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
    /*margin: 8px;*/
}


/*
    Telerik Fixes
    */
.RadGrid .rgRow, .RadGrid .rgAltRow, .RadGrid .rgHeader, .RadGrid .rgResizeCol, .RadGrid .rgPager, .RadGrid .rgGroupPanel, .RadGrid .rgGroupHeader {
    background-color: #FFFFFF;
}

.rgDataDiv {
    background-color: #EEEEEE;
}

tr.rgAltRow, .RadGrid .rgAltRow {
    background-color: #EEEEEE;
}

    .RadGrid .rgRow.rgSelectedRow, .RadGrid .rgAltRow.rgSelectedRow {
        background-color: #25a0da;
    }

.RadImageGallery {
    background-color: #555;
}

/*
  Bootstrap override
*/
#navbar {
    margin-bottom: 0;
}

.alert {
    border-radius: 0;
}

.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-sm-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-sm-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-sm-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-sm-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-sm-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-sm-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-sm-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-sm-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-sm-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-sm-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-sm-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-sm-12 {
    position: relative;
    height: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.footer {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
}

.panel {
    border: none;
}

.pagination {
    margin: 0px;
    display: inline-block;
}

    .pagination > li > a, .pagination > li > span {
        background-color: #fff;
        border: none;
        font-weight: 400;
        color: #555555;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        background-color: #f15a24;
        border-color: #f15a24;
    }

.btn-default {
    border-color: #FFFFFF;
    padding:3px 6px;
    padding-top:6px;
}
.btn-default span{
    font-size:1.4em;
    color:#777777;
}

.btn{
    
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    /*border:none;*/
}

/**
    Projects Page
    */
.grid-wrapper{
    width:99%;
    height:100%; 
    display:inline-block;
    vertical-align:top;  
}
.grid-wrapper.short{
    width:calc(100% - 600px);
}
.properties-wrapper{
    display:none;
    width:600px;
    height:100%;
    vertical-align:top;  
    margin-left:-4px;
     
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
        
}

.right-panel-properties-close {
    position:absolute;
    right:0px;
    font-size: 2em;
    color: #A7A8A8;
    padding-bottom:5px;
    padding-right: 20px;
    padding-left:20px;
    cursor: pointer;
    text-align:right;
    z-index:99999;
    padding-top: 2px;
}

    .right-panel-properties-close:hover {
        background-color:#DDD;
    }

    .right-panel-properties-close img {
        width: 20px;
    }

.map {
    width: 100%;
    height: 500px;
    background-color: #EEEEEE;
}


.toolbar-icon{
    border: 1px solid #FFF;
    background-color: transparent;
    color: #767676;
    font-size: 1em;
    padding-top: 2px;
}

.toolbar-icon.active,.toolbar-icon:hover{
    border: 1px solid #CCC;
    background-color: #DDD;
    color: #555555;
    font-size: 1em;
    padding-top: 2px;
}