/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin:0px;padding:0px;
}
body{
    background-color:#EEEEEE;
}
a {
   outline: 0;
}
form{
  margin:0px;padding:0px;
}
.demo-avatar {
  max-width: 32px;
  max-height: 32px;
  border-radius: 24px;
}
.demo-layout .demo-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.demo-layout .demo-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.demo-avatar-dropdown {
    padding-left: 20px;
    padding-top: 22px;
    /*border-bottom: #DDD solid 1px;*/
    padding-bottom: 0px;
    background-color: #1e1e1e;
    border-top: solid 1px rgba(255,255,255,.06);
    border-bottom: 1px solid rgba(255,255,255,.06);
    padding-top: 13px;
    padding-bottom: 13px;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 450;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  /*max-width: 1080px;*/
  max-width:100%;
}

.demo-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
  Fix Header in fornt of left Drawer navigation
*/
.demo-header.mdl-layout__header.mdl-color--grey-200.mdl-color-text--grey-600.is-casting-shadow{
  z-index: 6;
  margin-left: 0px;
  width: calc(100% - 0px);
  /*
  margin-left: 240px;
  width: calc(100% - 240px);
  */
}
.demo-drawer {
    border: none;
    background-color: #FFF;
}
.mdl-layout__drawer-button{
  /*display: none;*/
}
.drawer-header-vertical-top-space{
  width:100%;
  height: auto;
}
    .drawer-header-vertical-top-space .logo-header {
        display: block;
        margin: 0 auto;
        width: auto;
        margin-top: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 130px;
        margin-left: 25px;
        margin: 0 auto;
    }
.demo-layout .demo-navigation .mdl-navigation__link {
    color: #37474F;
    padding-top:11px;
    padding-bottom:11px;
}
.demo-layout .demo-navigation .mdl-navigation__link i{
    color: #777777;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
    background-color: #e1e1e1;
    color: #37474F;
    border-left: solid 5px #646464;
    padding-left: 35px;
}
.demo-layout .demo-navigation .mdl-navigation__link.active {
    border-left: solid 5px #4285F4;
    padding-left: 35px;
    color:#222222;
    font-weight: bold;
}
.demo-layout .demo-navigation .mdl-navigation__link.active i{
    color:#4285F4;
}
.demo-navigation.mdl-navigation { /*mdl-color--grey-100*/
    background-color: #000000;
}
.mdl-layout__content{/*mdl-color--grey-100*/
  background-color:#F9F9F9;
}
.logo-header{
  height: auto;
width: 140px;
margin-left: -15px;
}
.system-title {
    margin-left: 35px;
    border-left: solid 1px #D1CACA;
    padding-left: 20px;
    color: #6A6969;
    font-size: 1.3em;
}
.show-on-mobile{
  display: none;
}
.mdl-grid.demo-content{
    height: calc(100% - 64px);
    width:100%;
    padding:0px;
}
.mdl-layout__drawer .mdl-navigation{
    padding-top:0px;
}


/*
  --------------  System Clases -----------------
*/

/*
    cpanel layout
*/
#general-wrapper{
    visibility:hidden;
}
#general-wrapper-loading{
    display:block;
    width:100%;
    height:10px;
    position: absolute;
    top: -20px;
}

/*
    Material Design Lite Override
    */
.mdl-layout__drawer-button {
    padding-top: 18px;
    color: #000000;
    z-index: 4;
    background: #efe437;
    margin-left: 0px;
    margin-top: 0px;
    height: 60px;
    width: 55px;
}
.mdl-layout--fixed-drawer > .mdl-layout__content {
    margin-left: 300px;
}

/*
    Google Add-on Override
    */
.button, button, input[type="button"], input[type="image"], input[type="reset"], input[type="submit"] {
    min-width:0px;
}



/*
    Module layout
*/
.module {
    background: #FFF;
    border: 1px solid #DDD;
}
.module-header {
    padding: 20px 10px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 99;
    background-color: #000000;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,.2);
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
}
.module-header h3{
    font-size:1.3em;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color:#FFFFFF;
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 40px;
}
.module-content{
    margin-top:60px;
    padding-left:1%;
   padding-top:10px;   
}
.module-content-grid {
    /*padding-left:1%;*/
    /*border:solid 1px #DDDDDD;*/
    margin: 0 auto;
    /*margin-top: 0px;
    padding-left: 0px;
    padding-top: 0px;*/
    margin-top: 60px;
    padding: 30px 35px;
}
.module-content-grid-compact {
    margin-top: 70px;
    padding-top: 0px;
    margin-left: 13%;
    width: 70%;
    border: solid 1px #DDDDDD;
}

.toolbar {
    padding: 10px 15px;
    background: #f4f7f8;
    border: solid 1px #CFD8DC;
    border-bottom:none;
}

.module-section{
    width:90%;
    min-width:80%;
    margin-top:10px;
    background-color:#FFF;
    margin-left:5%;
    padding-top:20px;
    padding-bottom:20px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.14);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.14);
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
}
.module-section-fluid {
    width: 60%;
    min-width: 60%;
    margin-top: 10px;
    background-color: #FFF;
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 25px;
    padding-left: 2%;
    padding-right: 2%;
    solid 1px #DDD -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.14);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.14);
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
}
.module-section-fluid .banner{
    width:100%;
}
.module-section-fluid h4{
    color: #6c7077;
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight:bold;
    text-align:justify;
}
.module-section-fluid h5{
    color: #ab1e2e;
    font-weight: bold;
    font-size: 1.2em;
}
.module-section-fluid ul{
    color:#4b4f56;
}
.module-section-fluid li{
    color: #4b4f56;
    font-size: 1.2em;
    color: #606060;
    margin-bottom: 4px;
}
/*
    LOADING GOOGLE 1 horizontal
*/
.load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 5px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
/*
    LOADING GOOGLE 2 Circular
*/
.loader {
  position: relative;
  margin: 0px auto;
  width: 45px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}


.loader2 {
  position: absolute;
  left:49%;
  top:300px;
  z-index:999999;
  width: 52px;
  height:52px;
  display:none;  
}


.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@-webkit-keyframes 
rotate {  100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}

@keyframes 
rotate {  100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}

@-webkit-keyframes 
dash {  0% {
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
}
 50% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -35;
}
 100% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -124;
}
}

@keyframes 
dash {  0% {
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
}
 50% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -35;
}
 100% {
 stroke-dasharray: 89, 200;
 stroke-dashoffset: -124;
}
}

@-webkit-keyframes 
color {  100%, 0% {
 stroke: #d62d20;
}
 40% {
 stroke: #0057e7;
}
 66% {
 stroke: #008744;
}
 80%, 90% {
 stroke: #ffa700;
}
}

@keyframes 
color {  100%, 0% {
 stroke: #d62d20;
}
 40% {
 stroke: #0057e7;
}
 66% {
 stroke: #008744;
}
 80%, 90% {
 stroke: #ffa700;
}
}

/*
    CUSTOM TELERIK
*/

/*
.rwLoading {
    background-image: none !important;
}

.RadWindow .rwTitleRow, .RadWindow .rwTitleRow * {
    display: block;
}

.RadWindow .rwCorner {
    width: 0px;
    display: none;
}

.RadWindow.rwMaximizedWindow .rwTopResize, .RadWindow.rwMaximizedWindow .rwCorner, .RadWindow.rwMaximizedWindow .rwFooterCenter, .RadWindow.rwMaximizedWindow .rwTitlebar {
    display: none;
}


.RadWindow_Bootstrap {
    border: none;
}
.RadWindow .rwTitleRow, .RadWindow .rwTitleRow * {
    background-color: #FFFFFF;
}
.RadWindow_Bootstrap .rwTable .rwControlButtons li a {
    cursor:pointer;
}
.RadWindow_Bootstrap .rwTable .rwControlButtons li a:hover {
    background-color: #EEEEEE;
    border-color: #FFFFFF;
    border-radius: 0px;
}

.RadWindow_Bootstrap.customized .rwTable .rwTitlebarControls {
    display: block;
    height: 60px;
    background-color: #FFFFFF;
    margin-top: 0px;
    height:45px;
 }
.RadWindow_Bootstrap .rwTable .rwTitlebarControls em {
    font-size: 15px;
    color: #555555;
}
.RadWindow .rwTopResize {
    background-color:#FFFFFF;
}
.RadWindow_Bootstrap.customized a.rwCloseButton, .RadWindow_Bootstrap.customized a.rwCloseButton:hover {
    background-position: -104px -1900px;
}

.RadWindow_Bootstrap .rwTable .rwControlButtons li.customized a {
   

    float: left;
    padding: 0px 1px 0px 0px;
    margin-top: -9px;
    margin-left: -3px;
    height: 49px;
    color: #FFF;
    background-color: #FFFFFF;
    border: none;
    width: 42px;
    cursor:pointer;    
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

.RadWindow_Bootstrap .rwTable .rwControlButtons li.customized a:hover {    
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    background-color:#EEEEEE;
}
.RadWindow_Bootstrap .rwTable .rwControlButtons li.customized a span {
    color:#CCCCCC;
}
.RadWindow_Bootstrap.customized {
    border: none;
}

.rwControlButtons.customized{
    height:40px;
    width:50px;
}
    
.RadWindow_Bootstrap.customized .rwTable .rwTitlebarControls em {    
    padding: 8px 0px 0px 1px;
    font-weight:400;
}

.TelerikModalOverlay.customized{
    background-color:#000;
}

.RadWindow .rwFooterCenter {
    display: none;
}
*/


.RadWindow_BlackMetroTouch td.rwWindowContent {
    background-color: #EEEEEE;
}




/*
    MAX WIDTH 1024PX    
*/
@media screen and (max-width: 1024px) {
    .system-title{
    margin-left: 0px;
    border-left: none;
    padding-left: 0px;
    font-size: 1em;
  }
  .show-on-mobile{
    display: block;
  }  
  .module-header{
        padding-left:35px;
   }
  
  .logo-header{
    display: block;
    margin:0 auto;
  }
  h3{
      font-size:1em;
  }

  /*
    Material Design Lite Override
    */
  .mdl-layout--fixed-drawer > .mdl-layout__content {
     margin-left: 0px;
  }
  .demo-header.mdl-layout__header.mdl-color--grey-200.mdl-color-text--grey-600.is-casting-shadow{
    z-index: 4;
  }
  .mdl-layout__drawer-button{
    display: block;
  }
  .drawer-header-vertical-top-space .logo-header{
    display: block;
  }
    .demo-drawer .logo-header {
        /*margin-top: 8px;
        margin-left: 25px;*/
    }
}








/*
    MAX WIDTH 900PX    
*/
@media screen and (max-width: 900px)
{
.additionalColumn {
    display: none;
 }
}



