﻿*{
	font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
	
}

body {
   
    overflow-x:hidden;
}


.hidden {
    display:none;
}



fieldset  
{  
    background-color:#fff;
} 