﻿*{
	font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
	
}
html {
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
    overflow-x:hidden;
}


.left_toolbar {
    position:fixed;
    width:8%;
    height:100%;
    /*background-color:#D8E4F2;*/
    background-color:#FFF;
    left:0px;
    top:0px;
}
.left_toolbar img{
    width:50%;
    height:auto;
    margin-left:25%;
    margin-top:15px;    
    cursor:pointer;

}
    .left_toolbar img:hover {
    opacity:0.7;
    }

.wrapper {
    width:88%;
    position:absolute;
    right:2%;
    padding-left:2%;
}
.hidden {
    display:none;
}