﻿*{
	font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
	margin: 0px;
	padding: 0px;
}
html {
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
    /*background-color:#eee;*/
    overflow-x:hidden;
}

.slide_right {
    display:none;
    position:absolute;
    width:610px;
    height:100%;
    left:0px;
    top:0px;
    background-color:#D8E4F2;
    box-shadow: 0px 0px 10px #000;
}
.slide_right iframe {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;  
    border:none;  
}
.wrapper {
    width:98%;
    margin-left:1%;
}
.overlay {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.6;
    top:0px;
    left:0px;
    background-color:#D8E4F2;
}
.title {
    width:98%;
    height:50px;
    /*background-color:#eee;*/
    font-size:1.5em;
    padding-top:12px;
    padding-left:0%;
    color:#333;
}
.title img {
    width: 18px;
    height: auto;
    cursor:pointer;
}

.title span{
    font-size:0.8em;
}

.boton:hover {
    opacity:0.7;
}

.hidden {
    display:none;
}

button{
	/*background-color: #ff4040;*/
	color: #FFF;
	width: auto;
	padding: 7px;
	border:none;
	font-size: 0.9em;
	cursor: pointer;
}

button:hover{
	background-color: #FF9999;
}

button.eliminar{
	background-color: #ff4040;
	color: #FFF;
}
button.eliminar:hover{
	background-color: #FF9999;
	color: #FFF;
}

button.modificar{
	background-color: #6AC200;
	/*background-color: #BFFFCF;
	color: #000;*/
}
button.modificar:hover{
	background-color: #BFFFCF;
	color: #444;
}
button.verinfo{
	background-color: #3cb0fd;
    color: #FFF;
}
button.verinfo:hover{
	background-color: #3498db;
	color: #FFF;
}

.versite{
	background-color: #808080;
	color: #FFF;
	width: 52px;
	padding: 7px;
	border:none;
	font-size: 0.9em;
	cursor: pointer;
    display:inline-table;
}
a {
text-decoration:none;
}
.versite:hover{
	opacity:0.8;
}

