@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;

}
p {
  margin: 0;
  color: #808080;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
#ip-address {
  font-size: 25px;
  font-size: 4vw;
}
